@import '~@core/styles/bricks'

.container
  min-height 200px
  margin-top 15px
  line-height 25px

.header
  &[data-valid="true"]
    color #339933
  &[data-valid="false"]
    color #CC0000

.hint
  color #666666
  strong
    color #111111

.content
  line-height 25px

.submits
  margin-top 15px
  text-align center

.submit
  button()
  display inline-block
