vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

user-select()
  vendor('user-select', arguments)

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

print()
  @media print
    {block}
