$fontFamilyRegular = 'OpenSansRegular', 'Verdana', sans-serif
$fontFamilyLight = 'OpenSansLight', 'Verdana', sans-serif
$fontFamilyBold = 'OpenSansSemiBold', 'Verdana', sans-serif

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
