@import '~@core/styles/bricks'

.header
  text-align center

.items
  margin-top 15px

.item
  clearfix()
  line-height 30px
  padding 8px 8px 8px 14px
  &:nth-child(2n-1)
    background #fafafa

.item__title
  display inline-block
  vertical-align top

.item__button
  button()
  float right
