.label
  display flex
  flex-wrap nowrap
  align-items flex-start
  &[data-valid="true"]
    color #339933
  &[data-valid="false"]
    color #CC0000

.inputContainer
  flex none
  margin-right 6px

.input
  display inline-block
  margin-top 7px
  vertical-align top

.inline
  vertical-align top
